.submitBtn {
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    content: "";
    background: #13bd7e;
    border-radius: inherit;
    transition: opacity 100ms ease-in-out 0ms;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}
