.statisticMony {
    display: flex;
    flex-direction: row;
}

.styled-table {
    width: 800px;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #13bd7e;
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #13bd7e;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.style-imcome {
    color: #ff6677;
    font-weight: 800;
}

.style-expend {
    color: #4a88e5;
    font-weight: 800;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 0.5);
}

#modal-overlay-backgroud {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* z-index를 .overlay보다 높게해주면, modal-overlay-backgroud보다 위에 있으므로 클릭해도 꺼지지 않는다. */
.overlay .modal-overlay-content {
    background-color: #fff;
    color: #000;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 40rem;
    z-index: 11;
}

.overlay .modal-overlay-content > * {
    margin: 2rem;
}

.detailBoardBox {
    display: flex;
    flex-direction: column;
}

.selectDate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: 50px auto 0 auto;
}

button {
    background: #13bd7e;
    transition: opacity 100ms ease-in-out 0ms;
    border: none;
    padding: 4px 12px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
}

.detailBoard {
    width: 280px;
    height: 300px;
}

.detailBoardBox input,
.detailBoardBox select {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
    border-color: rgba(228, 237, 242, 0.3, 1);
    border: 1px solid #e4edf2;
    margin-bottom: 8px;
}

.detailBoardBox p {
    margin-bottom: 4px;
    font-size: 16px;
    color: rgb(102, 108, 119);
}

.detailBoardBox .boardBtnArea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.detailBoardBox button {
    width: 45%;
}
