.reportArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*테이블 스타일 시작*/

.reportBox {
    padding: 10px;
}

.styled-table {
    width: 800px;
    margin: 25px auto;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #13bd7e;
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #13bd7e;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/*테이블 스타일 끝*/

.selectDate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: 50px auto 0 auto;
}
