.statisticMony {
    display: flex;
    flex-direction: row;
}

.styled-table {
    width: 800px;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #13bd7e;
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #13bd7e;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.style-imcome {
    color: #ff6677;
    font-weight: 800;
}

.style-expend {
    color: #4a88e5;
    font-weight: 800;
}
